## SECTION 1: HOST DEFINITION ##
define host{
        use                     linux-server      			; Name of host template to use
        host_name               FIXENGINE02			; Host name of the adapter client  <**MODIFY TO THE NAME OF ADAPTER**>
        alias                   FixFlyer Engine : FIXENGINE02			; Host name of the adapter client  <**MODIFY TO THE NAME OF ADAPTER**>
	parents			GBMSOLACEDEV01				; Name of the Solace router for the client <**MODIFY TO THE HOSTNAME OF ROUTER**>
        address                 118.189.120.253	  		; Msg-backbone IP of the router with port number, used for all data communications
                                                                	; <**MODIFY TO THE MSG-BACKBONE IP:PORT OF ROUTER**>
	max_check_attempts	10
	
	# User defined macros - these are used as configuration parameters in service checks
        _router_name            GBMSOLACEDEV01                 ; Name of the Solace router for the VPN <**MODIFY TO THE HOSTNAME OF ROUTER**>
        _vpn                    GBM_TEST1_MESG_BUS              ; Host name of the VPN <**MODIFY TO THE HOSTNAME OF VPN**>
        _address_port           118.189.120.253:55555                    ; Message-backbone IP of the router with port number
	_client_stats_topic     "#P2P/v:GBMSOLACEDEV01/FixEngine02/stats"
                                                                ; Topic to retrieve stats <**MODIFY TO THE CLIENT NAME followed by '/stats'

	; User defined macros for PING checks- Update these parameters as required
 
	_ping_wrtpl            100.0,20%                        ; Warning  Avg RTT (ms) and % packet loss
        _ping_crtpl            500.0,60%                        ; Critical Avg RTT (ms) and % packet loss
	
        }

## SECTION 2: SERVICE DEFINITIONS ##

## SERVICE DEFINITION:PING ##
define service{
        use                     local-service,graphed-service			; Name of service template to use
        host_name               FIXENGINE02				; Host name of the adapter client  <**MODIFY TO THE HOSTNAME OF ADAPTER**>
        service_description     PING
        check_command           check_ping!$_HOSTPING_WRTPL$!$_HOSTPING_CRTPL$
}

## SERVICE DEFINITION: FIXFLYER ##
define service{
        use                     generic-service,graphed-service  		; Name of service template to use
        host_name               FIXENGINE02				; Host name of the adapter client  <**MODIFY TO THE HOSTNAME OF ADAPTER**>
        service_description     FIXFLYER
        check_command           fixFlyerCheck!$_HOSTROUTER_NAME$!$_HOSTADDRESS_PORT$!$_HOSTCLIENT_STATS_TOPIC$!$_HOSTVPN$!
        }


