[submodule "solace-syslog-collector"]
	path = solace-syslog-collector
	url = https://github.com/solacese/solace-syslog-collector
[submodule "solgeneos-custom-monitors"]
	path = solgeneos-custom-monitors
	url = https://github.com/solacese/solgeneos-custom-monitors
[submodule "solace-custom-monitor-cloudwatch"]
	path = solace-custom-monitor-cloudwatch
	url = https://github.com/SolaceServices/solace-custom-monitor-cloudwatch.git
[submodule "solace-custom-monitor-datadog"]
	path = solace-custom-monitor-datadog
	url = https://github.com/SolaceServices/solace-custom-monitor-datadog.git
[submodule "solace-custom-monitor-appdynamics"]
	path = solace-custom-monitor-appdynamics
	url = https://github.com/SolaceServices/solace-custom-monitor-appdynamics.git
[submodule "solace-custom-monitor-servicenow"]
	path = solace-custom-monitor-servicenow
	url = https://github.com/SolaceServices/solace-custom-monitor-servicenow.git
[submodule "solace-custom-monitor-splunk"]
	path = solace-custom-monitor-splunk
	url = https://github.com/SolaceServices/solace-custom-monitor-splunk.git
[submodule "solace-custom-monitor-nodejs"]
	path = solace-custom-monitor-nodejs
	url = https://github.com/SolaceServices/solace-custom-monitor-nodejs.git
[submodule "solace-custom-monitor-nagios"]
	path = solace-custom-monitor-nagios
	url = https://github.com/SolaceServices/solace-custom-monitor-nagios.git
[submodule "solace-custom-monitor-elk"]
	path = solace-custom-monitor-elk
	url = https://github.com/SolaceServices/solace-custom-monitor-elk.git
[submodule "solace-custom-monitor-solgeneos-legacy"]
	path = solace-custom-monitor-solgeneos-legacy
	url = https://github.com/SolaceServices/solace-custom-monitor-solgeneos-legacy.git
[submodule "solace-prometheus-exporter"]
	path = solace-prometheus-exporter
	url = git@github.com:solacecommunity/solace-prometheus-exporter.git
