[submodule "solace-prometheus-exporter"]
	path = solace-prometheus-exporter
	url = git@github.com:solacecommunity/solace-prometheus-exporter
[submodule "solace-syslog-collector"]
	path = solace-syslog-collector
	url = https://github.com/solacese/solace-syslog-collector
[submodule "solgeneos-custom-monitors"]
	path = solgeneos-custom-monitors
	url = https://github.com/solacese/solgeneos-custom-monitors
